<h1 class="text-center">
  List of item
</h1>
<div>
<table class="table">
  <thead>
    <tr>
      <th>No#</th>
      <th>Firstname</th>
      <th>Category</th>
      <th>Location</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itemList; let i = index;">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.category}}</td>
      <td>{{item.location}}</td>
      <td>{{item.price}}</td>
      <td>
        <button (click)="onEdit(item)">
          edit</button>
        <button (click)="onDelete(item.$key)">
          delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

